/* Write your CSS here */

.nav-con {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 20px;
}
.website-logo {
  width: 200px;
  height: 200px;
}
.ham-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.hamburger-menu {
  width: 120px;

  height: 50px;
}

.popup-con {
  background-color: #ffffff;
  width: 100%;
}

.close-btn-con {
  width: 1300px;
}
.close-con {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  padding: 20px;
  width: 100%;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.header-about-home-con {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.link-con {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.icons {
  font-size: 50px;
}
.name {
  margin-left: 10px;
  font-family: 'Roboto';
  font-size: 30px;
}
